/* The navbar container */
/* .topnav {
    overflow: hidden;
    background-color: #575757;
    border-radius: 20px;
} */

    /* Navbar links */
    /* .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    } */

        /* Links - change color on hover */
        /* .topnav a:hover {
            background-color: #ddd;
            color: black;
        } */

        /* .navbar {
            margin-top: 70px;
            padding-left: 10%;
            padding-right: 10%;
            display: flex;
            justify-content: space-between;
        }
        
        .navbar ul {
            display: flex;
            list-style: none;
        }
        
        .navbar ul li {
            border: 10px solid transparent;
            margin-left: 21px;
            transition: 0.5s;
        }
        
        .navbar ul li a {
            text-decoration: none;
            font-size: 21px;
            color: purple;
            font-weight: 600;
            transition: 0.5s;
        }
        
        .navbar ul li:hover {
            transform: scale(1.3);
        } */

.active {
    float: right;
}



.VacanciesModal {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* #VacanciesModal-body {
    background-color: #fefefe;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 25px;
    padding: 20px;
    padding-bottom: 100px;
    width: 90%;
} */

.VacantionPosition {
    margin-bottom: 50px;
    overflow: hidden;
    width: 80%;
    height: 130px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(rgba(0.6, 0.6, 0.6, 0.6), rgba(0.6, 0.6, 0.6, 0.3)), url(images/mountain.jpg);
    filter: grayscale(1);
    background-size: cover;
    background-position: center center;
    /* background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,238,244,1) 35%, rgba(207,207,207,0.878917378917379) 100%); */
}
.VacantionPosition:hover {
    cursor: pointer;
}
.PositionTitle {
    color: darkgray;
    font-family: monospace;
    margin-top: 25px;
    text-align: center;
    position: relative;
    float: left;
    width: 28%;
    margin-bottom: 13px;
    height: 100%;
    font-size: 25px;
    background: transparent;
}

.PositionMiniDescription {
    width: 70%;
    height: 85%;
    text-align: center;
    justify-content: center;
    color: lightsteelblue;
    font-size: 20px;
    font-weight: 700;
    font-style: oblique;
    font-family: monospace;
    letter-spacing: 1px;
    margin-top: 10px;
}

.div-shadow {
    background-color: red;
    width: 20px;
    height: 2em;
    box-shadow: 0px 0px 10px var(--clr-gray-med);
    margin: 0 1em 1em 0;
}

#imgs {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    width: 200px;
    border-radius: 25px 0px 0px 25px;
}
.MenuTable {
    position: relative;
    left: 30px;
    top: 10px;
    width: 10%;
    height: 400px;
    padding: 40px;
    border-radius: 20px;
    color: orangered;
    background: #232323;
    margin-bottom: 20px;
}

.information {
    margin-left: 30px;
    max-height: 500px;
    font-size: 28px;
    background: #232323;
    color: blueviolet;
}
.MenuTable td {
    color: blueviolet;
}
.description {
    width: 70%;
}

.image {
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
}

/* .menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: 10px;
    width: 100%;
    height: 500px;
    padding: 30px;
}

.menu img {
    height: 150px;
    margin-top: 130px;
} */
/* .avantages {
    background-color: lightgray;
    color: Red;
    width: 80%;
    float: right;
    border-radius: 50px;
    color: #444444;
    background: #FFFFFF; */
    /*text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE,
     4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC,
     4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;*/

/* .avantages h1 {
    font-size: 30px;
} */
/* .imageAvantage {
    position: relative;
    top: 150px;
    width: 20%;
    float: left;
} */

.VacanciesModalDetails {
    display: none;
    position: fixed;
    /* z-index: 1; */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.VacanciesContent {
    background-color: #79A7D3;
    position: relative;
    float: left;
    /* background-image: linear-gradient(rgba(0.6, 0.6, 0.6, 0.6), rgba(0.6, 0.6, 0.6, 0.6)), url(images/mountain.jpg);
    background-size: cover;
    background-position: center center; */
    /* filter: grayscale(1); */
    border-radius: 25px;
    margin: 5% auto;
    margin-left: 32%;
    margin-top: 10%;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 500px;
    height: 600px;
}

.VacanciesContent-Title {
    font-size: 19px;
    font-family: monospace;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.VacanciesContent-EndTime {
    text-align: right;
    overflow: hidden;
    margin-right: 20px;
    padding: 15px;
    color: #aaaaaa;
}

.VacanciesContent-Description {
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-family: monospace;
    height: 410px;
}

#PlaceCV {
    width: auto;
    height: auto;
    font-weight: bold;
    margin-top: -10%;
    padding: 10px 18px;
    margin-left: 75%;
    border-radius: 20px;
    box-shadow: 0 0 3rem var(--main-color);
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 1rem;
    border: none;
    transition: 0.2s ease-out;
}

#PlaceCV:hover {
    cursor: pointer;
    box-shadow: none;
}
/* #PlaceCV {
    z-index: 3;
    position: relative;
    float: right;
    margin-top: 0px;
    border: 0px;
    border-radius: 15px;
    width: 100px;
    height: 25px;
    padding: 2px;
    background-color: cadetblue;
    cursor: pointer;
} */

hr {
    margin-top: 0px;
}

.CV-PlacerBody {
    /* filter: grayscale(1); */
    display: none;
    position: relative;
    float: right;
    /* background-image: linear-gradient(rgba(0.6, 0.6, 0.6, 0.6), rgba(0.6, 0.6, 0.6, 0.6)), url(images/mountain.jpg);
    background-size: cover;
    background-position: center center; */
    background-color: #79A7D3;
    border-radius: 25px;
    margin: 5%;
    margin-top: 10%;
    margin-left: 0px;
    margin-right: 200px;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 500px;
    height: 600px;
    align-content: center;
}
.CV-PlacerBody h1 {
    font-size: 28px;
    font-family: monospace;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
.formInput {
    width: 200px;
    padding: 15px;
    margin: 2% auto;
    margin-left: 13px;
    background-color: #fff;
    border: 0px solid black;
    color: #999;
    border-radius: 15px;
}

.formContent {
    margin: 10% auto;
}

.formLabel {
    box-shadow: 0 0 3rem var(--main-color);
    background-color: var(--main-color);
    padding: 20px 20px 20px 0px;
    border-radius: 15px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 45px;
    z-index: 10;
    color: white;
    transition: 0.2s ease-out;
}

    .formLabel:hover {
        box-shadow: none;
    }

.formSubmit {
    display: table;
    margin-top: 10px;
    border: 0px;
    width: 100%;
    padding: 15px;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s ease-out;
}

    .formSubmit:hover {
        box-shadow: inset 500px 0 0 0 rgba(0, 0, 0, 0.75);
        opacity: 0.5;
        /* background-color: #ffffff;
        border: 1px solid #990ae3;
        color: #990ae3; */
    }
.applyDone{
    color: green;
    display: table;
    margin: -15px auto;
}
.ContactUs{
    width: 300px;
    height: 400px;
    border: 0.5px solid #000;
    border-radius: 20px;
    background-color: #efefef;
    position: sticky;
    z-index:2;
    float: right;
    margin-right: 10px;
    bottom: 5px;
}
.ContactUs-closeBtn{
    position: relative;
    margin-top: 0px;
    border-radius: 20px 20px 0px 0px;
    text-align: right;
    z-index: 3;
}
#ContactUs-chatBody {
    background-color: white;
    position: relative;
    width: 300px;
    height: 310px;
    z-index: 2;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ContactUs-input {
    width: 300px;
    height: 50px;
    position: absolute;
    margin-bottom: 0px;
    margin-top: -10px;
}
.ContactUs-textInput {
    width: 300px;
    height: 100%;
    border: 0;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
}
.ContactUs-sendMessageBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    cursor: pointer;
}
.BotResponse {
    background-color: #888;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    display: flex;
}
.PeopleAnswer {
    background-color: palegreen;
    position: relative;
    padding: 10px;
    text-align: right;
    width: 60%;
    margin-right: 0px;
    border-radius: 20px;
}
