@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}


:root {
    /* Raspberry #8A307F, Blues #79A7D3 #6883BC */
    --bg-color: #6883BC;
    --second-bg-color: #79A7D3;
    --text-color: #fff;
    --main-color: #8A307F;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    animation: navbar 1s normal;
}
.header ul {
    display: flex;
    list-style: none;
}

.header ul li {
    border: 10px solid transparent;
    background: rgba(42, 44, 44, 0.7);
    margin-left: 41px;
    transition: 0.1s;
}

span {
    color: var(--main-color);
}
.header ul li a {
    text-decoration: none;
    font-family: monospace;
    font-size: 21px;
    margin: 10px;
    color: var(--text-color);
    font-weight: 700;
    transition: 0.3s ease;
}

.header ul li a:hover {
    color: var(--main-color);
}
.header ul li:hover {
    /* transform: scale(1.3); */
    /* box-shadow: 4px 4px 50px 5px rgba(30, 31, 32, 0.7); */
    box-shadow: 4px 4px 50px 5px black;
}



.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
  }
  .text-box p {
    margin: 2rem 0 40px;
    font-size: 1.6rem;
    color: var(--text-color);
  }


  .homebtnleft {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    margin-right: 1rem;
    transition: .5s ease;
}

.homebtnleft:hover {
    /* box-shadow: none; */
    transform: translateX(-15px);
}

.homebtnright {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.homebtnright:hover {
    /* box-shadow: none; */
    transform: translateX(15px);
}








.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about img {
    width: 35vw;
    border-radius: 2%;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-top: -5rem;
}

.abouttext h1 {
    margin-top: 1rem;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.abouttext p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    /* box-shadow: none; */
    transform: translateX(15px);
}

.avantages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}

.avantages img {
    width: 35vw;
    animation: imganim 1s infinite alternate;
}

@keyframes imganim {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.avantages h3 {
    color: var(--second-bg-color);
    font-size: 1.6rem;
    margin-top: 2rem;
}











.vacancies {
    background-color: var(--second-bg-color);
    font-size: 62.5%;
}

.vacancies h2 {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.vacanciescont {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 7rem;
}

.vacanciescont .vacanciesbox {
    width: auto;
    flex: 1 1 313rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .1s ease;
}

.vacanciesbox h3 {
    font-size: 2.6rem;
}

.vacanciesbox p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.vacanciescont .vacanciesbox:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}



.vacanciesbtn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    animation: buttonscaleanim 1s infinite alternate;
}

.vacanciesbtn:hover {
    cursor: pointer;
}
@keyframes buttonscaleanim {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}






.footercont {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0.6, 0.6, 0.6, 0.6), rgba(0.6, 0.6, 0.6, 0.6)), url(../css/images/mountain.jpg);
    background-position: center;
    /* filter: grayscale(1); */
    padding: 20px;
    font-size: 30px;
    margin-bottom: -16px;
    display: flex;
    justify-content: space-between;
}

.footercontent {
    width: 100%;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.footercontent h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--second-bg-color);
    font-weight: 700;
}

.footercontent a {
    margin-left: 25%;
    text-decoration: none;
    width: 100px;
}
.footercontent p {
    width: auto;
    color: var(--text-color);
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}
.footercontent p:hover {
    color: var(--main-color);
}

.footercontent input[type=text] {
    width: auto;
    border: 3px solid lightgray;
    height: 20px;
    margin-right: 25%;
    margin-left: 25%;
}
.butt {
    height: 2rem;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
    transition: 0.5s ease;
}
.butt:hover {
    opacity: 0.5;
}
/* .vacanciesbtn:hover { */
    /* box-shadow: none; */
    /* transform: translateX(15px); */
    /* transform: scale(1.05); */
/* } */

/* .stcontainer {
    overflow: hidden;
    width: 100%;
    height: 500px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
} */

/* .stcontainertext {
    font-family: monospace;
    justify-content: center;
    margin-top: 110px;
    margin-left: 170px;
    font-size: 27px;
    color: var(--text-color);
    font-weight: 700;
} */




/* .about img {
    width: 35vw;
    border-radius: 20px;
    margin-right: 5rem;
    padding: 5rem;
} */
